.MainCard{
    p{
        color: #2C00E5;


font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
text-transform: uppercase;
margin-bottom: 17px;
    }
    h4{
        color: #2B3674;
      
    
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 135.294% */
    }
}
.Feature{
    background-color: #4A3AFF;
    padding: 17px 40px;
    color: white;
    margin-top: 20px;
    h5{
        color: #FFF;

font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
    }
    ul{
        margin-top: 20px;
        li{
        margin-top: 20px;

        color: #FFF;

font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 181.818% */
        }
    }
}