.NavBarContainer {
  background-color: white;
  padding: 18px 24px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
margin-inline: 100px ;
@media (max-width:600px) { 
  margin-inline: 10px  !important;
}
  display: flex;
  justify-content: space-between;
  border-radius: 21px;
  align-items: center;
  .NavBarRoutes {
    display: flex;
    gap: 50px;
    .Routes {
      @media (max-width: 991px) {
        display: none;
      }
      display: flex;
      align-items: center;
      ul {
        display: flex !important;
        gap: 20px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
    .logo {
      img {
        width: 99px !important;
        height: 46px !important;
      }
    }
  }
  .NavBarBtns {
    display: flex;
    gap: 20px;
    @media (max-width: 991px) {
      display: none;
    }
    align-items: center;
    .Secondry {
      font-weight: 600;
      font-size: 16px;
      color: #009aff;
      cursor: pointer;

    }
    .Primary {
      color: white;
      cursor: pointer;
      background-color: #0062FF;
      padding: 8px 20px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      border: 1px solid #0062FF;
      transition: 0.4s;
      &:hover{
        background-color: white;
        color: #0062FF;
      }
    }
  }
  .MobileMenu {
    display: none;
    font-size: 30px;
    @media (max-width: 991px) {
      display: block;
    }
  }
}

.NavActive{
  color: #0062FF !important;
  transition: 0.4s;
}.NavBarBtnss {
  display: flex;
  gap: 20px;

  align-items: center;
  .Secondry {
    font-weight: 600;
    font-size: 16px;
    color: #009aff;
    cursor: pointer;

  }
  .Primary {
    color: white;
    cursor: pointer;
    background-color: #0062FF;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #0062FF;
    transition: 0.4s;
    &:hover{
      background-color: white;
      color: #0062FF;
    }
  }
}
.Offcanvas{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  list-style: none;
  margin-bottom: 50px;
}

