.NavBarContainer {
  background-color: white;
  padding: 18px 24px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  border-radius: 21px;
  align-items: center;
  .NavBarRoutes {
    display: flex;
    gap: 50px;
    .Routes {
      @media (max-width: 991px) {
        display: none;
      }
      display: flex;
      align-items: center;
      ul {
        display: flex !important;
        gap: 20px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
    .logo {
      img {
        width: 59px !important;
        height: 59px !important;
      }
    }
  }
  .NavBarBtns {
    display: flex;
    gap: 20px;
    @media (max-width: 991px) {
      display: none;
    }
    align-items: center;
    .Secondry {
      font-weight: 600;
      font-size: 16px;
      color: #009aff;
      cursor: pointer;

    }
    .Primary {
      color: white;
      cursor: pointer;
      background-color: #009aff;
      padding: 20px 38px;
      border-radius: 49px;
      font-weight: 600;
      font-size: 16px;
      border: 1px solid #009aff;
      transition: 0.4s;
      &:hover{
        background-color: white;
        color: #009aff;
      }
    }
  }
  .MobileMenu {
    display: none;
    font-size: 30px;
    @media (max-width: 991px) {
      display: block;
    }
  }
}
