@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap");
.title {
  font-size: 24px;
  color: #1480a3;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.subTitle {
  font-size: 14px;
  color: #1480a3;
  font-family: "Cairo", sans-serif;
  text-align: center;
  font-weight: 400;
}

body {
  font-family: "Cairo", sans-serif;
}

.offcanvas-body {
  padding: 0px !important;
}

.responsiveNav {
  display: none !important;
}

.resposive-container {
  display: flex;
  background-color: "#f4f4f4";
}

.responsive-sideBar {
  background-color: white;
}

.main-page {
  padding-top: 30px;
  width: 80%;
  padding-inline: 20px;
  min-height: 100vh;
  background-color: #FCFCFC;
}

@media (max-width: 1150px) {
  .responsive-sideBar {
    display: none;
  }
  .main-page {
    width: 100%;
  }
  .responsiveNav {
    display: block !important;
  }
  .resposive-container {
    display: block;
  }
}
.SlickDots {
  position: absolute;
  bottom: -25px;
  display: flex !important;
  width: 100%;
  padding: 0;
  justify-content: center;
  margin: 0;
  gap: 5px;
  list-style: none;
  text-align: center;
}

.SlickDot {
  background-color: #e4ebf1;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  transition: 0.2s;
}

.slick-active a {
  width: 40px;
  border-radius: 14px;
  background-color: #c0cdd8;
}

.ar {
  direction: rtl;
}

.en {
  direction: ltr;
}

div[dir=rtl] .rs-picker-toggle.rs-btn-md .rs-picker-toggle-caret,
.rs-picker-toggle.rs-btn-md .rs-picker-toggle-clean {
  right: unset;
}

div[dir=rtl] .rs-check-item .rs-checkbox-checker > label {
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding: 8px 11px 8px 12px;
  position: relative;
}

.rs-picker-cleanable .rs-picker-tag-wrapper {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.custome {
  width: 24px;
  height: 24px;
}

.rs-table-cell-content {
  text-align: center;
  color: #7e8799;
}

.addBtn {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #0e85ff;
  background: #0e85ff;
  color: #fcfcfc !important;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 15px;
}

.TablePageHeader {
  border-bottom: 1px solid #edeff2;
  background-color: white;
  padding: 30px;
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TablePageHeader .icon {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #edeff2;
}
.TablePageHeader .name {
  font-size: 18px;
  color: #2b3674;
  font-weight: 700;
  margin: 0;
  gap: 5px;
}

.tablePage {
  color: #7e8799;
  transition: 0.4;
  font-weight: 700;
  position: relative;
}
.tablePage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: transparent;
  transition: 0.4s;
}
.tablePage.active {
  color: #0e85ff !important;
}
.tablePage.active::before {
  content: "";
  background-color: #0062ff;
}

.userTabs ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.yesActive {
  border-radius: 30px;
  background: rgba(71, 255, 145, 0.07);
  padding: 4px 20px;
  color: #47ff91;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.notActive {
  border-radius: 30px;
  background: rgba(255, 71, 71, 0.07);
  padding: 4px 20px;
  color: #ff4747;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.ispending {
  border-radius: 30px;
  background: #fcfcfc;
  padding: 4px 20px;
  color: #7e8799;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.Ended {
  border-radius: 30px;
  background: rgba(0, 98, 255, 0.07);
  padding: 4px 20px;
  color: #0062ff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.ProfileHeader {
  border-radius: 5px;
  overflow: hidden;
}

.ProfileBg {
  background-image: url("./assets/images/ProfileBanner.png");
  height: 170px;
  background-size: cover;
}

.ProfileHeader {
  background-color: white;
}
.ProfileHeader .ProfileInfo {
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProfileHeader .ProfileInfo h2 {
  font-size: 24px;
  color: #2b3674;
  font-weight: 700;
  margin: 0;
}
.ProfileHeader .ProfileInfo p {
  font-size: 14px;
  color: #7e8799;
  font-weight: 400;
  margin: 0;
}
.ProfileHeader .ProfileInfo .ProfileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -60px;
  margin-left: 30px;
}
.ProfileHeader .ProfileInfo .ProfileImage img {
  width: 100%;
  height: 100%;
}

.personalCard {
  border: 1px solid #edeff2;
  background: var(--semantic-colors-primary-contrast, #fff);
}
.personalCard .personalCardHeader {
  border-bottom: 1px solid #edeff2;
  padding: 16px 20px;
}
.personalCard .personalCardHeader h2 {
  color: #2b3674;
  text-align: right;
  font-family: Readex Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.personalCard .PersonalInfo {
  padding: 20px;
}
.personalCard .PersonalInfo h3 {
  color: #2b3674;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.personalCard .PersonalInfo span {
  color: #7e8799;
  color: red;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.PersonalInfo div {
  margin-top: 20px;
}

.socialLinks {
  padding: 20px;
}
.socialLinks .socialRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.socialLinks .socialRow .socialInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socialLinks .socialRow .socialInfo .socialIcon {
  border-radius: 6.833px;
  border: 0.854px solid #eaeff4;
  padding: 10px;
  background: var(--semantic-colors-primary-contrast, #fff);
}
.socialLinks .socialRow .socialInfo h3 {
  color: #2b3674;
  /* Medium/Headings H5 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.socialLinks .socialRow .socialInfo span {
  color: #7e8799;
  /* Body/Base - 14px */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.updateBtn {
  color: #0fe8e8 !important;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #0fe8e8;
  padding: 15px 20px;
  transition: 0.4s;
}
.updateBtn:hover {
  background-color: #0fe8e8 !important;
  color: white !important;
  text-decoration: none;
}

.CustomCard {
  border: 1px solid #edeff2;
  background: var(--semantic-colors-primary-contrast, #fff);
}

.CustomFormControl {
  margin-top: 24px;
}
.CustomFormControl label {
  color: #2b3674;
  text-align: right;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  display: block;
}
.CustomFormControl input,
.CustomFormControl select,
.CustomFormControl textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #edeff2;
  background: var(--semantic-colors-primary-contrast, #fff);
  padding: 10px;
}
.CustomFormControl input:focus,
.CustomFormControl select:focus,
.CustomFormControl textarea:focus {
  outline: none;
  border: #0062ff 1px solid;
}

.formCard {
  justify-content: center;
  display: flex;
}
.formCard form {
  width: 80%;
}

.customSelect {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #edeff2;
  background: var(--semantic-colors-primary-contrast, #fff);
  padding: 10px;
}
.customSelect:focus {
  outline: none;
  border: #0062ff 1px solid;
}

.submitBtn {
  background-color: #0062ff;
  color: white;
  padding: 16px 50px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.phoneContainer {
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #edeff2;
  background: var(--semantic-colors-primary-contrast, #fff);
  padding: 6px;
}
.phoneContainer input {
  border: none;
  flex: 1;
}
.phoneContainer input:focus {
  outline: none;
}

.toggelColor {
  background-color: red;
}

.rs-toggle-checked .rs-toggle-presentation {
  background-color: #0bd9a8 !important;
}

.form-check {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}
.form-check input {
  width: 20px !important;
  height: 20px !important;
}
.form-check label {
  color: #7e8799;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.CustomFormControl input {
  direction: rtl;
}

.SearchAndShowbar {
  background-color: white;
  margin-block: 10px;
  padding-inline: 20px;
  padding-block: 20px;
}
.SearchAndShowbar .checkAll {
  color: #7e8799;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 700;
}
.SearchAndShowbar .midDIv,
.SearchAndShowbar .EndDiv {
  display: flex;
}
.SearchAndShowbar .midDIv div,
.SearchAndShowbar .EndDiv div {
  color: #7e8799;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #edeff2;
}
.SearchAndShowbar .midDIv div.Active,
.SearchAndShowbar .EndDiv div.Active {
  color: #0062ff;
}

.timetags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.timetags div {
  background-color: #edeff2;
  padding: 5px 10px;
  border-radius: 10px;
  color: #2b3674;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
}

.chartCard {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #edeff2;
}
.chartCard .ChartHeader {
  border-bottom: 2px solid #edeff2;
  padding: 30px 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.chartCard .ChartHeader div {
  display: flex;
  flex: 1;
}
.chartCard .ChartHeader .ChartText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.chartCard .ChartHeader .ChartText h3 {
  color: #7e8799;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
}
.chartCard .ChartHeader .ChartText p {
  color: #7e8799;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
.chartCard .ChartFooter {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.VideoCard {
  border-radius: 8px;
  border: 1px solid #edeff2;
  background: #fff;
  padding: 24px;
  position: relative;
  margin-top: 26px;
}
.VideoCard .VideoCardIcon {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 17px;
}
.VideoCard h4 {
  color: #2b3674;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.VideoCard h5 {
  color: #a3aed0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.bookMark {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px 12px 0px 0px;
  background: #fcfcfc;
  padding: 15px;
}

.ChartCard {
  border-radius: 10px;
  border: 1px solid #edeff2;
  background-color: white;
  padding: 20px;
}
.ChartCard .ChartCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edeff2;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.ChartCard .ChartCardHeader p {
  color: #7e8799;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Readex Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin: 0;
}
.ChartCard .ChartCardHeader h2 {
  color: #2b3674;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Readex Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  margin: 0;
}

.NormalCard {
  border-radius: 5px;
  border: 1px solid #eaeff4;
  background: #fff;
  /* Shadow/XSM */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 32px;
}
.NormalCard h2 {
  color: #2b3674;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}
.NormalCard h2 p {
  color: #5a6a85;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.NormalCard h3 {
  color: #2b3674;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}
.NormalCard p {
  color: #5a6a85;
  text-align: right;
  /* Text L/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;
}

.CustomCard {
  padding: 60px 30px;
}

.MonthlyAndYearly {
  border-radius: 14.769px;
  background: #edeff2;
  display: flex;
  padding: 5px 15px;
}
.MonthlyAndYearly div {
  padding: 10px 15px;
  color: #7e8799;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Readex Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  line-height: 16px; /* 114.286% */
}
.MonthlyAndYearly div.active {
  border-radius: 10px;
  color: white;
  background: #0062ff;
}

.ChartRow {
  margin-top: 20px;
}
.ChartRow .ChartRowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChartRow .ChartRowHeader h2 {
  color: #2b3674;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.ChartRow .ChartRowHeader span {
  color: #2b3674;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
}
.ChartRow .ChartBar {
  background-color: #edeff2;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  height: 16px;
}
.ChartRow .ChartBar .data {
  background-color: #2b3674;
  width: 40%;
  height: 100%;
  border-radius: 4px;
}
.ChartRow .ChartBar .data.active {
  background: linear-gradient(90deg, #0062ff 0%, #0fe8e8 100%);
}

.BarPercentChart {
  border-radius: 10px;
  display: flex;
  gap: 10px;
}
.BarPercentChart .data {
  border-radius: 10px;
  height: 30px;
}
.BarPercentChart .data:first-child {
  background: #1ec88b;
  width: 60%;
}
.BarPercentChart .data:nth-child(2) {
  background: #dddddb;
  width: 30%;
}
.BarPercentChart .data:nth-child(3) {
  background: #ff4747;
  width: 10%;
}

.BarNumbers {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
.BarNumbers .SingleNumber h2 {
  color: #2b3674;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.BarNumbers .SingleNumber span {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #7e8799;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}

.WalletContainer {
  border: 1px solid #edeff2;
  background-color: white;
  padding: 32px;
  margin-top: 30px;
}
.WalletContainer .WalletCash {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.WalletContainer .WalletCash span {
  color: #7e8799;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: -0.288px;
}
.WalletContainer .WalletCash h2 {
  color: #2b3674;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 80% */
  letter-spacing: -0.72px;
}
.WalletContainer .WalletCash p {
  color: #2b3674;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 228.571% */
  letter-spacing: -0.252px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.WalletContainer .WalletCash .WalletBtns {
  border-radius: 10px;
  background: rgba(237, 239, 242, 0.26);
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.WalletContainer .WalletCash .WalletBtns div {
  display: flex;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
}
.WalletContainer .WalletCash .WalletBtns div:first-child {
  border-radius: 10px;
  background: #0e85ff;
}
.WalletContainer .WalletCash .WalletBtns div:nth-child(2) {
  border-radius: 10px;
  background: #2b3674;
}

.WalletStatistics .SingleStatistice {
  border-radius: var(--16, 16px);
  border: 1px solid #edeff2;
  background: #fff;
  padding: 15px;
}
.WalletStatistics .SingleStatistice span {
  color: #7e8799;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px; /* 228.571% */
  letter-spacing: -0.252px;
}
.WalletStatistics .SingleStatistice h2 {
  color: #2b3674;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.432px;
}
.WalletStatistics .SingleStatistice p {
  color: #2b3674;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 228.571% */
  letter-spacing: -0.252px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.DoughnutLegned {
  width: 100%;
  max-width: 400px;
}
.DoughnutLegned div {
  gap: 40px;
}

.ChartCardWallet {
  border-radius: 10px;
  margin-top: 40px;
  border: 1px solid #edeff2;
  background: #fff;
  padding: 20px;
}
.ChartCardWallet .WalletChartHeader .Tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChartCardWallet .WalletChartHeader .Tittle h2 {
  color: #2b3674;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.432px;
}
.ChartCardWallet .WalletChartHeader .Tittle .btns {
  display: flex;
  border-radius: var(--16, 16px);
  background: #fff;
  /* shadow */
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.04);
  padding: 10px;
}
.ChartCardWallet .WalletChartHeader .Tittle .btns div {
  color: #7e8799;
  transition: 0.4s;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 266.667% */
  letter-spacing: -0.216px;
  padding: 5px 15px;
  border-radius: var(--16, 16px);
}
.ChartCardWallet .WalletChartHeader .Tittle .btns div.active {
  color: white;
  background: #2b3674;
}
.ChartCardWallet .WalletChartHeader .Time {
  display: flex;
  gap: 5px;
}
.ChartCardWallet .WalletChartHeader .Time div {
  padding: 5px 10px;
  color: #7e8799;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  transition: 0.4s;
  line-height: 32px; /* 228.571% */
  letter-spacing: -0.252px;
}
.ChartCardWallet .WalletChartHeader .Time div.active {
  color: #2b3674;
  border-bottom: 2px solid #0e85ff;
}

@media (max-width: 900px) {
  .TablePageHeader {
    overflow-x: scroll;
  }
  .TablePageHeader .HeaderContainer {
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.HeaderContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ModalHeader {
  display: flex;
}
.ModalHeader h3 {
  color: #2b3674;
  text-align: right;
  font-family: Readex Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 125.303%; /* 27.567px */
}

.ModalContainer {
  padding: 25px;
}

.Tittle {
  color: #2b3674;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
}

.LinkActive {
  padding: 16px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode .main-page {
  background-color: #282c35;
}

.dark-mode .responsive-sideBar {
  background-color: #333 !important;
}

.dark-mode .TablePageHeader {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode .addBtn {
  background-color: #0e85ff;
  border-color: #0e85ff;
}

.dark-mode .SlickDot {
  background-color: #ffffff;
}

.dark-mode .yesActive,
.dark-mode .notActive,
.dark-mode .ispending,
.dark-mode .Ended {
  background-color: rgba(255, 255, 255, 0.07);
  color: #ffffff;
}

.dark-mode .ProfileHeader,
.dark-mode .VideoCard,
.dark-mode .CustomCard,
.dark-mode .NormalCard,
.dark-mode .WalletContainer,
.dark-mode .WalletStatistics,
.dark-mode .ChartCardWallet {
  border: 1px solid #454545;
  background-color: #2b2b2b;
  color: #ffffff;
}

.dark-mode .ChartCard,
.dark-mode .CustomCard,
.dark-mode .MonthlyAndYearly,
.dark-mode .ChartRow,
.dark-mode .BarNumbers,
.dark-mode .DoughnutLegned,
.dark-mode .ChartCardWallet {
  border-color: #454545;
}

.dark-mode .socialIcon {
  border-color: #454545;
}

.dark-mode .formCard,
.dark-mode .CustomFormControl,
.dark-mode .submitBtn,
.dark-mode .phoneContainer,
.dark-mode .toggelColor,
.dark-mode .rs-toggle-checked .rs-toggle-presentation {
  background-color: #333 !important;
  color: #ffffff;
}

.dark-mode .form-check label {
  color: #ffffff;
}

/* Toggle Dark Mode Button */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
  color: #ffffff;
}

.dark-mode {
  color: white !important;
}
.dark-mode .resposive-container {
  background-color: #222;
}
.dark-mode .rs-table-cell {
  background-color: #222;
  color: white !important;
}
.dark-mode .rs-table-cell-content {
  color: white;
}
.dark-mode .rs-table-hover {
  color: black;
}

.dark-mode .table-container {
  background-color: #222;
}

.rowContainer {
  cursor: pointer;
}

.ToggleContainer h3 {
  color: #2b3674;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
.ToggleContainer p {
  color: #a3aed0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.aboutAcademyLayout {
  align-items: center;
  font-family: "Tajawal", sans-serif !important;
}
@media (max-width: 768px) {
  .aboutAcademyLayout .SectionText {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .aboutAcademyLayout .SectionText {
    margin-top: 20px;
  }
}
.aboutAcademyLayout .SectionText h2 {
  color: #323232;
  text-align: right;
  font-family: "Tajawal", sans-serif !important;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
}
.aboutAcademyLayout .SectionText h2 span {
  color: #009aff;
  font-family: "Tajawal", sans-serif !important;
}
@media (max-width: 768px) {
  .aboutAcademyLayout .SectionText h2 {
    font-size: 42px;
  }
}
@media (max-width: 400px) {
  .aboutAcademyLayout .SectionText h2 {
    font-size: 36px;
    line-height: normal;
  }
}
.aboutAcademyLayout .SectionText p {
  font-family: "Tajawal", sans-serif !important;
  color: #636363;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin-top: 15px;
}
.aboutAcademyLayout .SectionText .Btn {
  display: flex;
  margin-top: 30px;
  gap: 14px;
}
.aboutAcademyLayout .SectionText .Btn .Primary {
  background-color: #009aff;
  padding: 20px 48px;
  border-radius: 49px;
  border: 1px solid #009aff;
  transition: 0.4s;
  cursor: pointer;
  color: white;
  color: #fff;
  text-align: center;
  font-family: "Tajawal", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutAcademyLayout .SectionText .Btn .Primary:hover {
  background-color: white;
  color: #009aff;
}
@media (max-width: 768px) {
  .aboutAcademyLayout .SectionText .Btn .Primary {
    padding: 10px 23px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .aboutAcademyLayout .SectionText .Btn .Primary {
    padding: 10px 15px;
    display: flex;
    align-items: center;
  }
}
.aboutAcademyLayout .SectionText .Btn .Secondry {
  background-color: transparent;
  padding: 10px 48px;
  transition: 0.4s;
  border-radius: 49px;
  color: #009aff;
  font-family: "Tajawal", sans-serif !important;
  display: flex;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  gap: 24px;
  align-items: center;
  border: 1px solid #009aff;
  color: #009aff;
}
@media (max-width: 768px) {
  .aboutAcademyLayout .SectionText .Btn .Secondry {
    padding: 10px 21px;
  }
}
.aboutAcademyLayout .SectionText .Btn .Secondry path {
  transition: 0.4s;
}
.aboutAcademyLayout .SectionText .Btn .Secondry:hover {
  background-color: #009aff;
  color: white;
}
.aboutAcademyLayout .SectionText .Btn .Secondry:hover path {
  fill: white;
}
@media (max-width: 768px) {
  .aboutAcademyLayout .SectionImage {
    margin-bottom: 20px;
  }
}
.aboutAcademyLayout .SectionImage img {
  width: 100%;
}

.LayoutSectionTitle {
  color: #272727;
  text-align: right;
  font-family: "Tajawal", sans-serif !important;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 64px;
}
.LayoutSectionTitle span {
  color: #009AFF;
  font-family: "Tajawal", sans-serif !important;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (max-width: 768px) {
  .swiper-button-next {
    right: 10px !important;
    display: none !important;
  }
  .swiper-button-prev {
    left: 10px !important;
    display: none !important;
  }
  .mySwiperContainer {
    padding-inline: 0px !important;
  }
}
.Layout2Title {
  font-family: "Tajawal", sans-serif !important;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 28px;
  color: #272727;
  font-weight: 800;
}
.Layout2Title:after {
  content: "";
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 98px;
  height: 18px;
  bottom: 0;
  background: rgba(255, 130, 15, 0.33);
}

.searchBar {
  border-radius: 49px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #FFF;
  position: relative;
  padding: 17px 23px;
}
.searchBar input {
  width: 100%;
  border: none;
}
.searchBar input:focus {
  outline: none;
}
.searchBar .iconWrapper {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.contactUsCard {
  border-radius: 20px;
  background: #FFF;
  width: 100%;
  /* صس */
  box-shadow: 0px 0px 40px 0px rgba(13, 119, 188, 0.05);
  padding: 32px;
}
.contactUsCard input, .contactUsCard textarea {
  width: 100%;
  border-radius: 16px;
  background: rgba(129, 129, 129, 0.12);
  padding: 17px 30px;
  border: none;
}
.contactUsCard textarea {
  min-height: 300px;
}
.contactUsCard button {
  color: #009AFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 49px;
  border: 1px solid #009AFF;
  padding: 16px 80px;
  background-color: transparent;
  transition: 0.4s;
}
.contactUsCard button:hover {
  background-color: #009AFF;
  color: white;
}

body {
  background-color: #FCFCFC !important;
}

.DeleteIcon:hover svg .DeleteTrash {
  transition: 0.4s;
}

.DeleteIcon:hover svg .DeleteTrash {
  fill: #FF0000 !important;
  transition: 0.4s;
}

.SuccesModalConainer {
  padding-right: 0 !important;
}
.SuccesModalConainer .modal-dialog {
  height: 100vh;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.SuccesModalConainer .modal-content {
  height: 100%;
}
.SuccesModalConainer .modal-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.btn-danger {
  background-color: #FF4747;
}

.FileInputLabel {
  margin-top: 24px;
  color: #2b3674;
  text-align: right;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  display: block;
}

.FileInput {
  display: flex;
  border: 1px solid #edeff2;
  border-radius: 10px;
}
.FileInput input {
  display: none;
}
.FileInput .placeHolder {
  flex: 1;
  color: #A3AED0;
  text-align: right;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
  padding: 10px 16px;
}
.FileInput .FileInput__Icon {
  background: rgba(163, 174, 208, 0.12);
  padding: 10px 12px;
  color: #7E8799;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 12px;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.CustomContainer {
  margin-inline: 100px;
}
@media (max-width: 600px) {
  .CustomContainer {
    margin-inline: 10px;
  }
}

.MuiSlider-rail {
  background-color: #A3AED0 !important;
}

.MuiSlider-thumb {
  background-color: white !important;
  border: 1px solid #A3AED0;
}

@media (max-width: 600px) {
  .smallText {
    font-size: 36px;
  }
}/*# sourceMappingURL=App.css.map */