/* NEW CLASSESS STYLE CSS */
/* START SUBJECT CLASSESS */
.navbar--1 {
  transition: all 0.5s;
}
.navbar--1.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  border: 1px solid #dcdcdc;
  background: #fff;
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 15px 100px;
}

@media screen and (max-width: 991px) {
  .navbar--1.menu-fixed {
    padding: 15px;
  }
  .navbar--1 .searchBar {
    width: 100%;
  }
}

@media screen and (max-width: 1235px) {
  .navbar--1 ul li {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
  .navbar--1 ul {
    gap: 12px !important;
  }
}

@media screen and (max-width: 1065px) {
  .navbar--1 ul li {
    font-size: 10px !important;
  }
  .navbar--1 ul {
    gap: 8px !important;
  }
}
.title-header {
  font-size: 50px !important;
}
.img-card-per {
  width: 50px !important;
  height: 50px !important;
}
.swiper {
  padding-left: 22px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  transition: all 0.5s;
  transform: translateY(50%) !important;
}

.swiper-button-prev {
  left: -40px !important;
}
.swiper-button-next {
  right: -40px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
  font-weight: bold;
  color: #009aff;
  transition: all 0.5s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #009aff;
  border-color: #009aff;
}
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: #ffffff;
}
.num-price {
  font-size: 14px !important;
}

.SubjectSlider-slide-swiper {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .swiper {
    padding: 20px 8px 50px 8px !important;
  }
  .swiper .container {
    --bs-gutter-x: 0.6rem;

    padding-left: 24px;
    padding-right: 0;
  }
}
.swiper-pagination {
  width: 100% !important;
  padding: 12px;
  bottom: -1px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #dcdcdc;
}

/* END SUBJECT CLASSESS */
/* START NUMBERS CLASSESS */

.all-header-content-top {
  margin-top: -157px;
}
.all-header-content-top .swiper {
  padding: 0 !important;
  margin-top: 15px;
}

@media screen and (max-width: 1300px) {
  .header-bg .all-container-header {
    padding-bottom: 200px !important;
  }
  .header-bg .container-header {
    margin-top: 0;
    transform: translateY(80px);
  }
  .title-header {
    font-size: 35px !important;
  }
  .header-bg .button-header {
    margin-bottom: 35px !important;
  }
}
body {
  overflow: hidden;
  min-height: 100vh;
}
@media screen and (max-width: 991px) {
  .title-header {
    font-size: 65px !important;
    line-height: 168% !important;
  }
  .header-bg .banner-text-header {
    text-align: center;
  }
  .header-bg .button-header {
    margin: 35px auto !important;
  }
  .header-bg .container-header {
    transform: translateY(40px);
  }
  .image-anim {
    position: relative;
    top: 36px;
  }
}

@media screen and (max-width: 768px) {
  .title-header {
    font-size: 45px !important;
  }
}

@media screen and (max-width: 450px) {
  .title-header {
    font-size: 32px !important;
  }
  .header-bg .title-header--1 {
    font-size: 15px !important;
  }
  .copy-text--1 {
    font-size: 12px;
    font-weight: 600;
  }
}

/* END NUMBERS CLASSESS */
/* START PAGE LaunchYourAcademy */
@media screen and (max-width: 575px) {
  .swithcer---1 div {
    width: fit-content;
    padding: 13px 40px;
    text-align: center;
  }
  .CustomContainer .smallText {
    font-size: 25px !important;
    margin-bottom: 25px !important;
  }
  .MuiAccordionSummary-content p {
    font-size: 15px !important;
    line-height: 1.8;
  }
  .css-1uza2uv-MuiPaper-root-MuiAccordion-root {
    padding: 10px !important;
  }
  ._GoalCard_1w0uh_150 h2 {
    font-size: 18px !important;
  }
}

/* END PAGE LaunchYourAcademy */
/* START PAGE BLOGS */
.card-container--info .img-card-container .details-card--1 {
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 1203px) {
  .card-container--info .text--1 {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 450px) {
  .card-container--info .text--1 {
    font-size: 14px !important;
  }
}
/* END PAGE BLOGS */
/* START PAGE AI */
@media screen and (max-width: 575px) {
  ._CardContainer_1itfy_394 p {
    font-size: 14px !important;
  }
  .container-ai p,
  ._BannerText_1eh8y_12 p {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.9;
  }
  .container-ai h1,
  ._BannerText_1eh8y_12 h1,
  .CustomContainer h1 {
    font-size: 22px !important;
  }
  .CustomContainer h2 {
    font-size: 16px !important;
  }
}
/* END PAGE AI */
/* START DASHBOARD STUDENT */
.drop-menu--1 {
  z-index: 10;
}
.card-chart--1 p {
  padding-top: 10px;
}
@media screen and (max-width: 575px) {
  .navbar-dash {
    flex-wrap: wrap;
    gap: 20px;
  }
  .navbar-dash .input--info {
    flex: auto;
  }
  .card-chart--1 p {
    font-size: 15px !important;
  }
  .card-chart--1 h2 {
    font-size: 23px !important;
    gap: 12px;
  }
  .card-detials-chart .card-detials-chart-info {
    flex-wrap: wrap;
    gap: 15px;
  }
  .card-detials-chart h2 {
    font-size: 15px !important;
  }
  .TablePageHeader .HeaderContainer {
    min-width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .TablePageHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .TablePageHeader .addBtn {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .TablePageHeader .d-flex div {
    font-size: 13px !important;
    font-weight: 600;
  }
  .TablePageHeader .addBtn {
    font-size: 12px !important;
    font-weight: 600;
  }
  .main-page > div > .SearchAndShowbar {
    flex-wrap: wrap;
    gap: 12px;
  }
  .main-page > div > .SearchAndShowbar .midDIv,
  .main-page > div > .SearchAndShowbar div {
    width: 100%;
  }
  .main-page > div > .SearchAndShowbar div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.info-details--1 {
  background: #ffffff;
  padding: 30px 0;
}

.info-details--1 ._CardBody_1nzz4_33 {
  margin-top: 0;
}

.main-buttons .btn-new {
  padding: 12px 17px !important;
  transition: all 0.4s !important;
  cursor: pointer;
  text-align: center;
}
.main-buttons .btn-new:hover {
  background: rgb(13, 110, 253);
  color: #fff !important;
}
.main-buttons .btn-remove:hover {
  background: #fa3434;
}
@media screen and (max-width: 450px) {
  .all-cards-info {
    padding: 20px 12px !important;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .all-cards-info .card-one {
    padding: 0px !important;
  }
  .all-cards-info .card-one .main-buttons {
    flex-wrap: wrap;
    gap: 15px;
  }
  .all-cards-info .card-one .btn-new {
    width: 100%;
  }
}
/* END DASHBOARD STUDENT */

/* START PAGE MARKETING */
.all-marketing-card {
  margin-bottom: 50px;
}
.all-marketing-card .card-marketing-one {
  margin: 0 !important;
  min-width: 100% !important;
}
.all-marketing-card .CustomCard {
  padding: 0 !important;
  margin: 0;
}

/* END PAGE MARKETING */
/* START PAGE WALLET */
@media screen and (max-width: 768px) {
  .all-wallet-content .WalletContainer {
    padding: 20px 10px !important;
  }
  .WalletContainer .WalletCash .WalletBtns .button-wallet {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (max-width: 485px) {
  .all-wallet-content .WalletContainer {
    padding: 20px 10px;
  }
  .WalletContainer .WalletCash .WalletBtns {
    flex-wrap: wrap;
  }
  .all-wallet-content .WalletContainer .WalletCash h2 {
    font-size: 25px !important;
  }
  .all-wallet-content .ChartCardWallet .WalletChartHeader .Tittle h2 {
    font-size: 17px !important;
  }
  .all-wallet-content .ChartCardWallet .WalletChartHeader .Tittle {
    flex-wrap: wrap;
    gap: 15px;
  }
  .all-wallet-content .ChartCardWallet .WalletChartHeader .Tittle .btns {
    padding: 0 0 15px 0;
    width: 100%;
  }
  .all-wallet-content .ChartCardWallet .WalletChartHeader .Tittle .btns > div {
    width: 100%;
    text-align: center;
  }
}
/* END PAGE WALLET */
/* START PROFILE */
.all-porfile .ProfileHeader .ProfileInfo {
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (max-width: 558px) {
  .all-porfile .updateBtn {
    width: 100%;
    text-align: center;
  }
}
/* END PROFILE */
/* START REPORT */

@media screen and (max-width: 550px) {
  .all-info-report .report-card--1 .report-info-details {
    flex-wrap: wrap;
    gap: 15px;
  }
  .all-info-report .MonthlyAndYearly {
    width: 100%;
  }
  .all-info-report .MonthlyAndYearly div {
    width: 100%;
  }
  .all-info-report .BarNumbers {
    flex-wrap: wrap;
  }
  .all-info-report h2 {
    font-size: 17px !important;
  }
}
/* END REPORT */
/* START STUDENT RATE */

.modal-student h2 {
  font-size: 17px !important;
}

/* END STUDENT RATE */
/* START SUBSCRIPE PAGE */
.sub-info-content .userTabs {
  left: initial !important;
}

@media screen and (max-width: 900px) {
  .all-tab-top .TablePageHeader {
    flex-wrap: wrap !important;
  }
  .all-tab-top .TablePageHeader .HeaderContainer {
    min-width: 100% !important;
    flex-wrap: wrap !important;
    gap: 15px !important;
  }
  .all-tab-top .TablePageHeader .HeaderContainer .userTabs ul {
    flex-wrap: wrap !important;
    gap: 15px !important;
  }
  .all-tab-top .userTabs {
    position: relative !important;
    transform: translate(0) !important;
  }
}
@media screen and (max-width: 575px) {
  .Toastify__toast-container--rtl {
    padding: 10px !important;
  }
}
/* END SUBSCRIPE PAGE */
/* START PAGE ROLE PERMESSION */
@media screen and (max-width: 550px) {
  .all-search-bar :is(.midDIv, .EndDiv) {
    width: 100%;
    gap: 15px;
    align-items: center;
  }
  .all-search-bar :is(.midDIv, .EndDiv) div {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}
/* END PAGE ROLE PERMESSION */
/* START PAGE ADD NEW ROLE */
.all-info-top-header .TablePageHeader {
  overflow: initial;
}
.all-info-top-header .TablePageHeader .HeaderContainer {
  min-width: 100%;
}
.all-info-top-header
  .all-marketing-card
  .card-marketing-one
  .info-card--details {
  padding: 10px;
}
.all-info-top-header .all-marketing-card .card-marketing-one .updateBtn {
  padding: 15px !important;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .all-info-top-header .all-marketing-card .card-marketing-one {
    padding: 0px !important;
  }
  .all-info-top-header
    .all-marketing-card
    .card-marketing-one
    .info-card--details {
    padding: 15px !important;
  }
}
@media screen and (max-width: 768px) {
  .all-info-top-header .CustomCard {
    padding: 15px 15px 22px 15px !important;
  }
  .header-top--2 .CustomCard {
    padding: 0 !important;
  }
  .all-info-top-header .CustomCard .row {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .all-info-top-header .info-content-header .updateBtn {
    width: 100%;
    text-align: center;
  }
  .all-info-top-header .CustomCard .submitBtn {
    width: 100%;
  }
  .title-info---1 {
    font-size: 14px !important;
  }
  .all-info-top-header
    .all-marketing-card
    .card-marketing-one
    .info-card--details
    .updateBtn {
    width: 100%;
    text-align: center;
  }
}

/* END PAGE ADD NEW ROLE */
/* START PAGE DIGITAL */
.digital-info {
  padding: 20px !important;
}
.digital-info .chartCard .ChartHeader .ChartText p {
  font-size: 17px !important;
}
.digital-info canvas {
  width: 100%;
}
.digital-info .card-digital {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 768px) {
  .digital-info {
    padding: 10px !important;
  }
}

/* END PAGE DIGITAL */

/* START PAGE SINGLE PRODUCT */
@media screen and (max-width: 991px) {
  .img-card--1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-single {
    padding: 15px;
  }
}
@media screen and (max-width: 575px) {
  .card-price-button .price-num {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 20px !important;
    font-weight: 600;
  }
  .all-content-bottom {
    padding: 0 0 30px 0 !important;
  }
  .all-content-bottom .price-num--1 {
    font-size: 28px !important;
  }
  .title-text--1 {
    font-size: 18px !important;
  }
  .text-content--1 {
    font-size: 15px !important;
  }
  .all-buttons-content :is(.updateBtn, .addBtn) {
    width: 100%;
    text-align: center;
  }
}

/* END PAGE SINGLE PRODUCT */
/* START PAGE BLOG */
.card-blog--1 {
  margin: 0;
}
@media screen and (max-width: 575px) {
  .all-cards-blogs {
    padding: 10px;
  }
}
/* END PAGE BLOG */

/* START PAGE ADD NEW BLOG */
@media screen and (max-width: 991px) {
  .all-info-top-header .all-new-blog {
    padding: 0 !important;
  }
  .all-info-top-header .all-new-blog .row {
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  .all-info-top-header .all-new-blog .updateBtn {
    width: 100%;
    text-align: center;
  }
}
/* END PAGE ADD NEW BLOG */
/* START PAGE VIDEO */
.card-video--1 {
  margin: 0;
}
.all-card-video-info .VideoCard {
  margin: 0 !important;
}
/* END PAGE VIDEO */
/* START ADD NEW NOTIFICATION */
@media screen and (max-width: 768px) {
  .all-info-top-header .all-add-notific {
    padding: 0 0 22px 0 !important;
  }
}
/* END ADD NEW NOTIFICATION */
/* START PAGE SUBSCRIPTION */
.main-info-top .userTabs {
  position: relative !important;
  left: initial !important;
  transform: translate(0) !important;
}
.card-policy--1 {
  padding: 18px 15px;
}
@media screen and (max-width: 768px) {
  .card-info-sub {
    padding: 15px;
  }
  .all-card-sub-info .CustomCard {
    padding: 20px 0 !important;
  }
  .card-policy--1 {
    padding: 12px;
  }
}
/* END PAGE SUBSCRIPTION */
/* START PAGE EXAM */
.card-exam-one .title-text--1 {
  font-size: 25px;
  line-height: 1.8;
}
.card-exam-one .VideoCard {
  margin: 0;
}

@media screen and (max-width: 550px) {
  .button-content--1 :is(.addBtn, .updateBtn) {
    width: 100%;
    text-align: center;
  }
  .all-exams-show .css-1dfyxll-MuiPaper-root-MuiAccordion-root {
    padding: 10px;
  }
}
/* END PAGE EXAM */
/* START PAGE SINGLE COURSE */
.course-card--info .title-course {
  font-size: 30px !important;
}
.course-card--info .text-course {
  font-size: 15px !important;
  padding: 15px 0;
}
.card-course-details .text--1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8;
}
.card-course-details .info-content_--1 {
  font-size: 14px !important;
  line-height: 1.8;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .course-card--info .title-course {
    font-size: 20px !important;
  }
  .course-card--info .text-course {
    font-size: 13px !important;
  }
  .card-course-details .text--1 {
    font-size: 14px;
  }
  .card-course-details .Tittle {
    font-size: 17px;
    line-height: 1.8;
  }
}
/* END PAGE SINGLE COURSE */

/* START PAGE CERTIDCATE */
.card-certificate .date-card {
  font-weight: 600;
}
.card-certificate .title-card-cer {
  padding: 5px 0;
  font-size: 17px;
  font-weight: 600;
}
.card-certificate .text-card-cer {
  font-size: 15px;
  font-weight: 600;
}
.card-certificate .name-user {
  font-size: 15px;
  font-weight: 500;
}

.card-single-certificate .title-single--1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}

.card-single-certificate .title-single--2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 !important;
}

.card-single-certificate .title-single--3 {
  font-size: 17px;
  font-weight: 600;
}
.card-single-certificate {
  border: 1px solid #dcdcdc;
  margin: 25px 0;
  padding: 0 !important;
  border-radius: 10px;
}
.card-single-certificate .info-card-certification {
  margin: 0 !important;
  padding: 10px;
}
@media screen and (max-width: 550px) {
  .card-single-certificate .title-single--1 {
    font-size: 16px;
  }

  .card-single-certificate .title-single--2 {
    font-size: 18px;
  }

  .card-single-certificate .title-single--3 {
    font-size: 14px;
  }
}
/* END PAGE CERTIDCATE */

/* START PAGE OFFER */
.card-single-offer {
  border: 1px solid #dcdcdc;
}
.all-info-card-offer .card-single-offer {
  margin: 0 !important
  ;
  padding: 0 !important;
  max-width: 100% !important;
}
.all-info-card-offer .container-offer {
  margin: 0 !important;
  padding: 10px 30px 30px 30px;
}
.card-single-offer .title-offer {
  font-size: 18px;
  font-weight: 600;
}
.card-single-offer .text-offer {
  font-size: 15px;
  font-weight: 600;
}
.card-single-offer .VideoCard {
  margin: 0;
}
.card-single-offer .button-content--1 {
  margin-top: 40px !important;
}
@media screen and (max-width: 550px) {
  .all-info-card-offer .container-offer {
    padding: 10px 10px 30px 10px;
  }
}
/* END PAGE OFFER */
/* ====================================
START DASHBOARD ADMIN
=========================================*/
.card-side-one {
  gap: 14px !important;
  padding: 12px 6px;
}
.card-side-one .image-card-side {
  width: 65px;
  height: 65px;
}
.card-side-one .title-text--1 {
  font-size: 13px;
  font-weight: 600;
}

/* START WALLET PAGE */
.main-wallet--info .btn-wallet--1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 550px) {
  .main-wallet--info .btn-wallet--1 {
    width: 100%;
  }
  .main-wallet--info .WalletContainer {
    padding: 32px 10px !important;
  }
  .main-wallet--info .btns {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap !important;
  }
  .main-wallet--info .btns,
  .main-wallet--info .btns .btn--1 {
    width: 100%;
    text-align: center;
  }
}
/* END WALLET PAGE */

/* ====================================
END DASHBOARD ADMIN
=========================================*/
/* =======================================
START DASHBOARD ACADEMY
=======================================*/
@media screen and (max-width: 450px) {
  .main-dash-info {
    gap: 30px !important;
  }
}
/* START PAGE REPORT */
@media screen and (max-width: 450px) {
  .main-report--info {
    width: 100%;
    margin: 15px 0 10px 0;
  }
  .main-report--info .btn---1 {
    width: 100%;
  }
}
/* END PAGE REPORT */
@media screen and (max-width: 768px) {
  .acadmy-single-course .image-bg {
    height: 300px !important;
  }
}

@media screen and (max-width: 550px) {
  .add-join .updateBtn {
    width: 100%;
    text-align: center;
  }
}
.main-custom-card {
  padding: 15px !important;
}
.main-custom-card .card-one---1 {
  padding: 15px !important;
  border: 1px solid #dcdcdc !important;
}
/* =======================================
END DASHBOARD ACADEMY
=======================================*/
/* START SIDEBAR DASHBOARD */
:is(.main-info-sidebar-bottom, .button-sidebar-bottom) {
  width: 100%;
}
.title-dash-link {
  font-size: 15px !important;
  font-weight: 500 !important;
}
.icon-close-side {
  width: 45px;
  height: 45px;
  display: none;
  justify-content: center;
  align-items: center;
  background: red;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1150px) {
  .icon-close-side {
    display: flex;
  }
}
/* END SIDEBAR DASHBOARD */

/* START LANDING PAGE 1 */
.all-navbar-layout-1 {
  padding: 14px 24px !important;
}
.button-new-account {
  padding: 14px 38px !important;
  font-size: 14px !important;
}
@media screen and (max-width: 550px) {
  .buttons-header {
    width: 100%;
  }
  .buttons-header .button-one-1 {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
    padding: 10px !important;
  }
  .buttons-header .button-head {
    padding: 16px 10px !important;
  }
  .all-top-info-layout-3 {
    padding: 10px 20px !important;
  }
}
@media screen and (max-width: 450px) {
  .buttons-header,
  .all-top-info-layout-3 {
    flex-wrap: wrap;
  }
  .text-content-faq {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 991px) {
  .bg-login-banner {
    display: none;
  }

  .button-login--1 {
    min-width: 100% !important;
  }
}

:is(.all-product-slider--1, .all-product-slider--2) .swiper-pagination-bullet {
  right: initial !important;
}
:is(.all-product-slider--1, .all-product-slider--2) .swiper-pagination {
  left: initial !important;
  right: 50% !important;
  transform: translateX(50%) !important;
}
/* END LANDING PAGE 1 */
